import numpy as np
import matplotlib.pyplot as plt
from pytmatrix.tmatrix import Scatterer
from pytmatrix import radar, orientation
from simulations.functions import parametrization_axis_ratio, velocity_diameters_rel, fast_plotting
import os
from scipy import interpolate
import random
